:root {
  --main-color: #e9892c;
}

#app {
  color: #4d4d4d;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}

.main-section {
  padding: 3rem;
  background: var(--main-color);
  color: #eaeaea;
  text-align: center;
  width: 100%;
}

.main-section .title {
  padding-bottom: 1rem;
}

.header {
  background-color: #f3f3f3;
  color: #4d4d4d;
}

.header-logo {
  max-width: 50%;
  height: auto;
  padding-top: 1.5rem;
}

.main-title, .main-subtitle, .title {
  font-weight: 300;
  line-height: 1.2;
}

.main-title {
  font-size: 6rem;
  padding-bottom: 2rem;
}

.main-subtitle {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.section {
  max-width: 1200px;
  padding: 0 1rem 2rem;
  margin-right: auto;
  margin-left: auto;
}

.title {
  font-size: 2.5rem;
  text-align: center;
  padding: 1rem 4rem 2rem;
}

.description {
  padding: 1rem;
}

/* reduce size in smaller devices */
@media (max-width: 1000px) {
  .main-section {
    padding: 1.5rem;
  }

  .main-title {
    font-size: 3rem;
    padding-bottom: 1rem;
  }

  .main-subtitle {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
  }

  .title {
    font-size: 2rem;
    padding: 1rem 3rem 1rem;
  }
}
